<div id="follower-requests" class="flex flex-col gap card bg-main">
  <div>
    <h1 class="text-3xl">Follower requests</h1>
  </div>
  <div class="flex flex-col gap">
    <%= render partial: "followings/following", collection: followings %>
  </div>
</div>
