<div id="<%= dom_id(profile) %>-preview" class="flex gap card border-dark">
  <%= render partial: "profiles/personal_details", locals: { profile: profile } %>
  <% if current_user != profile.user %>
    <div id="profile-buttons" class="flex gap justify-end">
      <div class="flex flex-col gap">
        <%= link_to "View posts", user_path(profile.user), class: "btn btn--primary" %>
      </div>
    </div>
  <% end %>
</div>
