<div>
  <%= button_tag type: :submit,
                 class: "btn btn--icon",
                 data: { commentable_target: "replyButton", action: "click->commentable#toggle" } do %>
    <%= image_tag "icons/arrow-uturn-left.svg", size: 20, aria: { hidden: true } %>
    <span class="sr-only">Reply</span>
  <% end %>
</div>
