<div id="<%= dom_id(like) %>-notification" style="animation: var(--animate-slide-in-left) forwards;">
  <%= link_to("#{like.user.display_name} Liked your #{like.likeable_type}", post_path(local_assigns[:post])) %>
</div>
