<%= turbo_stream_from("#{dom_id(profile.user)}-notifications") %>
<div id="notifications" class="flex flex-col gap card">
  <div>
    <h1 class="text-3xl">Notifications</h1>
  </div>
  <div id="<%= dom_id(profile.user) %>-notifications-feed" class="flex flex-col gap">
  </div>
</div>
