<div class="flex gap-half justify-end">
  <%= image_tag "icons/heart-solid.svg", size: 20, aria: { hidden: true }, class: "colorize-black" %>
  <div class="text-sm"><%= local_assigns[:count] %></div>
</div>
