<div class="p-4">

  <ul class="flex flex-col gap">
    <li>
      <%=link_to "Home", root_path %>
    </li>
    <li>
      <%=link_to "Users", users_path %>
    </li>
    <li>
      <%=link_to "Posts", posts_path %>
    </li>
    <li>
      <%=link_to "Profile", profile_path %>
    </li>
  </ul>

</div>
