<div id="posts" class="flex flex-col gap card border">
  <% if local_assigns[:title].present? %>
    <div>
      <h1 class="text-3xl"><%= local_assigns[:title] %></h1>
    </div>
  <% end %>
  <div class="flex flex-col gap">
    <% if local_assigns[:variant] == :full %>
      <%= render partial: 'posts/full', collection: posts, as: :post %>
    <% else %>
      <%= render partial: 'posts/preview', collection: posts, as: :post %>
    <% end %>
  </div>
</div>
