<div class="flex flex-col gap card border" data-controller="tabs">
  <% if local_assigns[:title].present? %>
    <div>
      <h1 class="text-3xl"><%= local_assigns[:title] %></h1>
    </div>
  <% end %>
  <div class="tabs__list border" data-action="keydown.left->tabs#prev keydown.right->tabs#next" role="tablist">
    <button id="trigger_draft"  class="btn btn--tab" data-tabs-target="button" data-action="tabs#select" role="tab" aria-controls="tab_draft">Published</button>
    <button id="trigger_published"  class="btn btn--tab" data-tabs-target="button" data-action="tabs#select" role="tab" aria-controls="tab_published">Draft</button>
    <button id="trigger_archived"  class="btn btn--tab" data-tabs-target="button" data-action="tabs#select" role="tab" aria-controls="tab_archived">Archived</button>
  </div>
  <div>
    <div hidden id="tab_published" data-tabs-target="tab" role="tabpanel" tabindex="0" aria-labelledby="trigger_published" class="flex flex-col gap">
      <%= render partial: "posts/posts", locals: { posts: posts.published, variant: :preview }  %>
    </div>
    <div hidden id="tab_draft" data-tabs-target="tab" role="tabpanel" tabindex="0" aria-labelledby="trigger_draft" class="flex flex-col gap">
      <%= render partial: "posts/posts", locals: { posts: posts.draft, variant: :preview }  %>
    </div>
    <div hidden id="tab_archived" data-tabs-target="tab" role="tabpanel" tabindex="0" aria-labelledby="trigger_archived" class="flex flex-col gap">
      <%= render partial: "posts/posts", locals: { posts: posts.archived, variant: :preview }  %>
    </div>
  </div>
</div>
