<div id="posts" class="flex flex-col gap card border-dark">
  <div>
    <h1 class="text-3xl">Posts</h1>
  </div>
  <div>
    <%= link_to "Create Post", new_post_path, class: "btn btn--primary" %>
  </div>
  <%= render partial: "paginated_posts"  %>
</div>
