<%= render @post %>

<div>
  <% if current_user.id == @post.author_id %>
    <%= link_to "Edit this post", edit_post_path(@post), class: "btn btn--secondary"  %>
    <%= link_to "Destroy this post", @post, data: { turbo_method: :delete }, class: "btn btn--negative"  %>
  <% end %>

  <%= link_to "Back to posts", posts_path, class: "btn btn--borderless"  %>
</div>
