<%= link_to "Back", "#", class: "font-medium underline", data: { controller: "navigation", action: "navigation#back:prevent" } %>
<%= render @post %>
<div class="card flex flex-col gap">
  <%= render partial: "comments/form", locals: { comment: Comment.new } %>
  <%= render partial: "comments/comment", collection: @comments %>
</div>
