<header id="header" class="">
  <div class="container flex items-center justify-between" style="--container-width: 100%;">
    <div class="flex gap items-center justify-start">
      <%= image_tag("icons/logo-icon.svg", size: 48, aria: { hidden: true }, id: "logo-icon", class: "colorize-black mis-4 mie-10") %>
      <%= image_tag("icons/logo-text.svg", size: "128x54", aria: { hidden: true }, id: "logo-text", class: "colorize-black border-be border-dark pb-3") %>
    </div>
    <div data-controller="dark-mode" class="flex gap justify-end avatar">
      <%= image_tag("icons/moon.svg", size: 32, class: "btn btn--icon hide@sm", aria: { hidden: true }, data: { dark_mode_target: "darkIcon", action: 'click->dark-mode#toggleTheme'}) %>
      <%= image_tag("icons/sun.svg", size: 32, class: "btn btn--icon hide@sm", aria: { hidden: true }, data: { dark_mode_target: "lightIcon", action: 'click->dark-mode#toggleTheme'}) %>
    </div>
  </div>
</header>
